{% extends 'base.html.twig' %}

{% block content %}
<div class="planet planet-{{ planet.id }}">
    <div class="flex-row justify-between hidden sm:flex  mb-4">

        <div class="flex flex-row justify-end flex-grow-0 gap-2 sm:gap-4">
            {% set class = "text-sm font-display flex items-center bg-surf-200 text-slate-800 px-2 py-1" %}
            <div class="{{ class }}">Concrete: {{ planet.storage.concrete }}/{{ planet.maxStorage|round }} </div>
            <div class="{{ class  }}">Metal: {{ planet.storage.metals }}/{{ planet.maxStorage|round }}</div>
            <div class="{{ class }}">Circuits: {{ planet.storage.circuits }}/{{ planet.maxStorage|round }} </div>
            <div class="{{ class }}">Food: {{ planet.storage.food }}/{{ planet.maxStorage|round }}</div>
        </div>
    </div>

    {% block planet_content %}
    {% endblock %}

{% endblock %}