{# @var view \App\Modules\Core\ViewModel\BaseViewModel #}
{% extends 'base.html.twig' %}

{% block content %}
<div class="planet planet-{{ planet.id }}">
    <div class="flex-row justify-center hidden sm:flex rounded mb-4 bg-body-accent">


        {% set class = "text-md font-display flex items-center px-2 py-1 gap-2" %}
        <twig:Tooltip class="{{ class }} " title="Concrete" id="concreteResource">
            <twig:ux:icon name="game-icons:stone-block" class="text-gray-600 dark:text-gray-200" width="24"/>
            {{ planet.storage.concrete|number_format }}
        </twig:Tooltip>
        <twig:Tooltip class="{{ class }}" title="Metals" id="metalsResource">
            <twig:ux:icon name="game-icons:metal-plate" class="text-amber-600 dark:text-amber-500" width="24"/>
            {{ planet.storage.metals|number_format }}
        </twig:Tooltip>
        <twig:Tooltip class="{{ class }} " title="Polymers" id="polymersResource">
            <twig:ux:icon name="game-icons:molecule" class="text-purple-500 dark:text-purple-400" width="24"/>
            {{ planet.storage.polymers|number_format }}
        </twig:Tooltip>
        <twig:Tooltip class="{{ class }} " title="Food" id="foodResource">
            <twig:ux:icon class="text-lime-500 dark:text-lime-500" name="game-icons:shiny-apple" width="24"/>
            {{ planet.storage.food|number_format }}
        </twig:Tooltip>
        <twig:Tooltip class="{{ class }} {{ planet.energy.consumption > planet.energy.yield ? 'text-error-secondary': '' }}" title="Used Energy / Total Energy " id="planetEnergy">
            <twig:ux:icon name="game-icons:power-lightning" class="text-yellow-500 dark:text-yellow-400" width="24"/>
            {{ planet.energy.consumption|number_format }}/{{ planet.energy.yield|number_format }}
        </twig:Tooltip>
        <twig:Tooltip class="{{ class }}" title="Used Drones / Total Drones" id="dronesAvailable">
            <twig:ux:icon name="game-icons:delivery-drone" class="text-gray-800 dark:text-gray-200" width="24"/>
            {{ view.planet.droneAvailability.usedDrones }}/{{ view.planet.droneAvailability.totalDrones }}
        </twig:Tooltip>

        <twig:Tooltip class="{{ class }}" title="Max Storage" id="maxStorage">
            <twig:ux:icon name="game-icons:stack" class="text-gray-700 dark:text-gray-300" width="24"/>
            {{ view.planet.maxStorage }}
        </twig:Tooltip>
    </div>

    {% block planet_content %}

        {% block title %}

        {% endblock %}
    {% endblock %}

{% endblock %}