<twig:Card title="Drones">
    <dl class="divide-y divide-body-divider">
        <div class="flex flex-col pb-3">
            {% for job in view.controlHub.queuedDroneJobs %}
                <div class="flex flex-row gap-2 justify-content-around">
                    <twig:ProgressBar value="{{ job.progress }}"/>
                </div>
            {% endfor %}
        </div>
        <div class="flex flex-col pb-3">
            <dt class="mb-1 text-subdued md:text-lg font-display">Total Drones</dt>
            <dd class="text-lg font-semibold">{{ view.planet.droneAvailability.totalDrones }}</dd>
        </div>
        <div class="flex flex-col py-3">
            <dt class="mb-1 text-subdued md:text-lg font-display">Next drone</dt>
            <dd class="text-lg flex flex-col gap-2">
                {% include 'common/_cost.html.twig' with {cost: view.controlHub.nextDroneCost, storage: view.planet.storage} %}
                <p class="text-sm text-subdued">
                    {% trans from 'planet' %}time_to_build{% endtrans %}:
                    {{ view.controlHub.nextDroneBuildTime|date('H:i:s') }}
                </p>
            </dd>
        </div>


    </dl>


    <twig:block name="footer">
        {{ parent() }}
        <twig:Button>Manage Drones</twig:Button>
        {% set disabled = view.controlHub.canBuildSingleDrone %}
        <form action="{{ path('control_hub_enqueue_drone') }}" method="POST">
            <input type="hidden" name="planetId" value="{{ view.planet.id }}"/>
            <twig:Button color="primary"
                         disabled="{{ not disabled }}">{% trans %}build_new_drone{% endtrans %}</twig:Button>
        </form>

    </twig:block>


</twig:Card>
