{# @var view \App\Modules\Core\ViewModel\ControlHubViewModel #}
{% extends "base.html.twig" %}
{% block content %}
    <p>Welcome to the Hub</p>

    <table class="table-auto border-separate border-spacing-2 border border-slate-400 dark:border-slate-600 dark:text-slate-400">
        <thead>
        <tr>
            {% set thClass = "border p-2 border-slate-300" %}
            <th class="{{ thClass }}">Building</th>
            <th class="{{ thClass }}">Level</th>
            <th class="{{ thClass }}">Duration</th>
            <th class="{{ thClass }}">ETA</th>
            <th class="{{ thClass }}">Cancel</th>
            {% if is_granted('ROLE_CONSTRUCTIONS_ADMIN') %}
                <th class="{{ thClass }}">Admin</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% set tdClass = "border border-slate-300 p-2 text-slate-500 dark:border-slate-600 dark:text-slate-400" %}

        {% for key, construction in view.controlHub.queuedJobs %}
            <tr>
                <td class="{{ tdClass }}">{{ construction.buildingName }}</td>
                <td class="{{ tdClass }}">{{ construction.level }}</td>
                <td class="{{ tdClass }}">
                    {% if key == 0 %}
                        {% include 'common/_build-time.html.twig' with {buildTime: construction.remainingTime,  } %}
                    {% else %}
                        {{ construction.duration|date('H:i:s') }}

                    {% endif %}
                </td>
                <td class="{{ tdClass }}">{{ construction.completedAt|date() }}</td>
                <td class="{{ tdClass }}">
                    <form method="POST" action="{{ path('control_hub_cancel_construction') }}">
                        <input type="hidden" name="planetId" value="{{ view.planet.id }}"/>
                        <twig:Button color='red' type="submit" name="constructionId" value="{{ construction.id }}">
                            {% trans %}construction.cancel{% endtrans %}
                        </twig:Button>
                    </form>
                </td>
                {% if is_granted('ROLE_CONSTRUCTIONS_ADMIN') %}
                    {% if is_granted('ROLE_CAN_TERMINATE_CONSTRUCTIONS') %}
                        <td class="{{ tdClass }}">
                            <form method="POST" action="{{ path('control_hub_terminate_construction') }}">
                                <input type="hidden" name="planetId" value="{{ view.planet.id }}"/>
                                <twig:Button color='green' type="submit" name="constructionId" value="{{ construction.id }}">
                                    {% trans %}construction.terminate{% endtrans %}
                                </twig:Button>
                            </form>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table-auto border-separate border-spacing-2 border border-slate-400 dark:border-slate-600 dark:text-slate-400">
        <thead>
        <tr>
            <th class="border p-2 border-slate-300">Building</th>
            <th class="border p-2 border-slate-300">Required resources</th>
            <th class="border p-2 border-slate-300">Time to build</th>
            <th class="border p-2 border-slate-300">Required population</th>
            <th class="border p-2 border-slate-300">Build</th>
        </tr>
        </thead>
        <tbody>
        {% set lockedBuildings = [] %}
        {% for name, possibleConstruction in view.controlHub.possibleConstructions %}
            <tr>
                <td class="border border-slate-300 p-2 text-slate-500 dark:border-slate-600 dark:text-slate-400">
                    {% set pathName = name ~ '_index' %}
                    {% if route_exists(pathName) %}
                        <a
                                class="font-medium text-blue-600 dark:text-blue-500 hover:text-blue-500 dark:hover:text-blue-400"
                                href="{{ path(pathName) }}">
                            {{ name }}
                        </a>
                    {% else %}
                        <span class="font-medium">{{ name }}</span>
                    {% endif %}
                    {% set level = view.planet.buildings[name] is defined ? view.planet.buildings[name].level : null %}
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        {% if level is not null %}
                            Level {{ level }}
                        {% else %}
                            {{ t('not_build') }}
                        {% endif %}
                    </p>
                </td>

                {% set cost = possibleConstruction.cost %}
                <td class="border border-slate-300 p-2 text-slate-500 dark:border-slate-600 dark:text-slate-400">
                    <span class="{{ planet.storage.concrete >= cost.concrete ? 'text-slate-500' : 'text-red-600' }}">Conc: {{ cost.concrete|round }}</span>
                    <span class="{{ planet.storage.metals >= cost.metals ? 'text-slate-500' : 'text-red-600' }}">Met: {{ cost.metals|round }}</span>
                    <span class="{{ planet.storage.circuits >= cost.circuits ? 'text-slate-500' : 'text-red-600' }}">Circ: {{ cost.circuits|round }}</span>
                    <span class="{{ planet.storage.food >= cost.food ? 'text-slate-500' : 'text-red-600' }}">Food: {{ cost.food|round }}</span>
                </td>
                <td>{{ possibleConstruction.buildTime|date('H:i:s') }}</td>
                <td></td>
                <td>
                    {% if possibleConstruction.isFullyBuilt %}
                        {% trans %}construction.fully_build{% endtrans %}
                    {% elseif not possibleConstruction.isCostSatisfied %}
                        <p class="text-red-600">Resources available in (TODO)</p>
                    {% else %}

                        <form method="POST" action="{{ path('control_hub_enqueue_construction') }}">
                            <input type="hidden" name="planetId" value="{{ view.planet.id }}"/>
                            <twig:Button type="submit" name="building" value="{{ name }}">
                                {% trans %}build{% endtrans %}
                            </twig:Button>
                        </form>
                    {% endif %}

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if view.controlHub.lockedConstructions|length > 0 %}
        <table class="mb-4 table-auto border-separate border-spacing-2 border border-slate-400 dark:border-slate-600 dark:text-slate-400">
        <thead>
        <tr>
            <th class="border p-2 border-slate-300">Locked Buildings</th>
            <th class="border p-2 border-slate-300">Requirements</th>
        </tr>
        </thead>
        <tbody>
        {% for locked in view.controlHub.lockedConstructions %}
            <tr>
                {% set tdClass = "border border-slate-300 p-2 text-slate-500 dark:border-slate-600 dark:text-slate-400" %}
                <td>{{ locked.object.name }}</td>
                <td>
                    <div class="flex flex-row gap-2">
                        {% for requirement in locked.requirements %}
                            <div class="flex-1">{{ requirement.object.name }} ({{ requirement.level }})</div>
                        {% endfor %}
                    </div>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    {% endif %}
{% endblock %}