{% extends "camp/building.html.twig" %}

{% block building_content %}
    <p>Welcome to the Hub</p>

    <table class="table-auto border-separate border-spacing-2 border border-slate-400 dark:border-slate-600 dark:text-slate-400">
        <thead>
        <tr>
            {% set thClass = "border p-2 border-slate-300" %}
            <th class="{{ thClass }}">Building</th>
            <th class="{{ thClass }}">Level</th>
            <th class="{{ thClass }}">Remaining Time</th>
            <th class="{{ thClass }}">ETA</th>
            <th class="{{ thClass }}">Cancel</th>
        </tr>
        </thead>
        <tbody>
        {% set tdClass = "border border-slate-300 p-2 text-slate-500 dark:border-slate-600 dark:text-slate-400" %}

        {% for construction in campFacade.constructionQueue(camp).jobs %}
            <tr>
                <td class="{{ tdClass }}">{{ construction.buildingName }}</td>
                <td class="{{ tdClass }}">{{ construction.level }}</td>
                <td class="{{ tdClass }}">
                    {% include 'common/_build-time.html.twig' with {buildTime: construction.remainingTime} %}
                </td>
                <td class="{{ tdClass }}">{{ construction.completedAt|date() }}</td>
                <td class="{{ tdClass }}">
                    <twig:Button color='red' anchor href="{{ path('camp_building', { name: 'control_hub', action: 'cancel_construction', payload: construction.id}) }}">
                        {% trans %}construction.cancel{% endtrans %}
                    </twig:Button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table-auto border-separate border-spacing-2 border border-slate-400 dark:border-slate-600 dark:text-slate-400">
        <thead>
        <tr>
            <th class="border p-2 border-slate-300">Building</th>
            <th class="border p-2 border-slate-300">Required resources</th>
            <th class="border p-2 border-slate-300">Time to build</th>
            <th class="border p-2 border-slate-300">Required population</th>
            <th class="border p-2 border-slate-300">Build</th>
        </tr>
        </thead>
        <tbody>
        {% for building in buildings %}
        <tr>
            <td class="border border-slate-300 p-2 text-slate-500 dark:border-slate-600 dark:text-slate-400">
                <a
                        class="font-medium text-blue-600 dark:text-blue-500 hover:text-blue-500 dark:hover:text-blue-400"
                        href="{{ path('camp_building', { name: building.name }) }}">
                    {{ building.name }}
                </a>
                {% set level = building.getLevel(camp) %}
                <p class="text-sm text-gray-500 dark:text-gray-400">
                    {% if level is not null %}
                        Level {{ building.getLevel(camp) }}
                    {% else %}
                        {{ t('not_build') }}
                    {% endif %}
                </p>
            </td>
            {% set cost = campFacade.costForBuilding(camp, building.name)%}
            <td class="border border-slate-300 p-2 text-slate-500 dark:border-slate-600 dark:text-slate-400">
                Conc: {{ cost.concrete|round }}
                Met: {{ cost.metals|round }}
                Circ: {{ cost.circuits|round }}
                Food: {{ cost.food|round }}
            </td>
            <td>{{ campFacade.buildTime(camp, building.name) }}</td>
            <td></td>
            <td>
                {% if campFacade.canBeBuilt(camp, building.name) %}
                    <twig:Button anchor href="{{ path('camp_building_build', { name: building.name }) }}">
                        {% trans %}build{% endtrans %}
                    </twig:Button>
                {% else %}
                    <p class="text-red-600">Requirements not met.</p>
                {% endif %}
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}