{# templates/components/constructible_building_row.html.twig #}
{% props planet %}
<div {{ attributes }}>
    {% include 'planet/buildings/control_hub/_construction-queue.html.twig' with { controlHub: this.controlHub } %}
    {% set self = this %}

    <twig:Card>
        <table class="w-full border-l-0 xl:border-separate xl:border-spacing-y-2 font-display uppercase ">
            <thead class="hidden xl:table-header-group">
            <tr>
                {% set thClass = "text-left" %}
                <th class="{{ thClass }}">{% trans %}buildings{% endtrans %}</th>
                <th class="{{ thClass }}">{% trans %}required_resources {% endtrans %}</th>
                <th class="{{ thClass }}" colspan="1">{% trans from 'buildings' %}required_energy{% endtrans %}</th>
                <th class="{{ thClass }}">{% trans from 'buildings' %}time_to_build {% endtrans %}</th>
                <th class="{{ thClass }}">{% trans from 'buildings' %}build{% endtrans %}</th>
            </tr>
            </thead>

            <tbody class=" xl:divide-y-0 divide-y divide-body-divider">
            {% set lockedBuildings = [] %}
            {% set tdClass = "" %}

            {% for name, construction in self.controlHub.possibleConstructions %}
                <tr class=" flex flex-col p-2 xl:mb-4 xl:table-row">
                    <td class="{{ tdClass }} font-display text-xl xl:text-base uppercase ">
                        <div class="flex flex-row gap-2">
                            <div class="rounded-t-lg place-items-center justify-center flex flex-col">
                                <img class="w-[48px] h-[48px] max-w-[48px]"
                                     src="{{ asset('images/buildings/default/' ~ construction.buildingName ~ '.png') | imagine_filter('building_thumb') }}"
                                     alt="concrete_extractor"/>
                            </div>
                            <div class="flex flex-col">
                                {% set pathName = name ~ '_index' %}
                                {% if route_exists(pathName) %}
                                    <a
                                            class="font-medium text-blue-600 dark:text-blue-500 hover:text-blue-500 dark:hover:text-blue-400"
                                            href="{{ path(pathName) }}">
                                        {{ name|trans({}, 'buildings') }}
                                    </a>
                                {% else %}
                                    <span class="font-medium">{{ name|trans({}, 'buildings') }}</span>
                                {% endif %}
                                {% set level = planet.buildings[name] is defined ? planet.buildings[name].level : null %}
                                <p class="text-xs text-subdued">
                                    {% if level is not null %}
                                        {% trans %}level{% endtrans %} {{ level }}
                                    {% else %}
                                        {% trans from 'buildings' %}not_build{% endtrans %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </td>


                    {% set cost = construction.cost %}
                    <td class="{{ tdClass }}">
                        {% include 'common/_cost.html.twig' with { cost: cost, storage: planet.storage } %}
                    </td>
                    <td class="{{ tdClass }}">
                        <div class="flex flex-row gap-2 whitespace-nowrap">
                            <twig:ux:icon name="game-icons:power-lightning"
                                          class="text-yellow-500 dark:text-yellow-400 "
                                          width="16"/>
                            <span class="{{ construction.isEnergyAvailable ? "" : "text-red-500" }}">+{{ construction.energyConsumptionDelta }}</span>
                        </div>
                    </td>
                    <td class="{{ tdClass }}">{{ construction.buildTime|date('H:i:s') }}</td>
                    {% if construction.isFullyBuilt %}
                        <td class="{{ tdClass }}">
                            <p class="text-error-secondary">{% trans %}construction.fully_build{% endtrans %}</p>
                        </td>
                    {% elseif not construction.isCostSatisfied %}
                        <td class="{{ tdClass }}">
                            <p class="text-error-primary">Resources available in (TODO)</p>
                        </td>
                    {% elseif not construction.isEnergyAvailable %}
                        <td class="{{ tdClass }} text-error-primary ">
                            <div class="flex gap-2">
                                <twig:ux:icon name="game-icons:power-lightning" cla ss=""
                                              width="16"/>
                                {% trans %}insufficient_energy{% endtrans %}
                            </div>
                        </td>
                    {% elseif not self.controlHub.canEnqueueNewBuilding %}
                        <td class="{{ tdClass }}">
                            <p class="text-error-primary">{% trans from 'planet' %}full_queue{% endtrans %}</p>
                        </td>

                    {% else %}
                        <td class="{{ tdClass }}">
                            <form method="POST" action="{{ path('control_hub_enqueue_construction') }}">
                                <input type="hidden" name="planetId" value="{{ planet.id }}"/>
                                <twig:Button
                                type="submit"
                                name="building"
                                value="{{ construction.buildingName }}"
                                color="accent" outline="true" class="w-full mt-2 xl:mt-0 xl:w-32">

                                {#                                data-action="live#action" #}
                                {#                                data-live-action-param="enqueue" #}
                                {#                                data-live-building-param="{{ construction.buildingName }}" #}
                                {#                                data-loading="addAttribute(disabled) addClass(opacity-50 cursor-not-allowed focus:ring-0)" #}

                                {% trans %}level{% endtrans %} {{ construction.level }}
                                </twig:Button>
                            </form>
                        </td>
                    {% endif %}


                </tr>
            {% endfor %}
            </tbody>
        </table>


    </twig:Card>
</div>