<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource-variable/space-grotesk@5.0.3/index.min.css">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="dark:bg-slate-700 dark:text-slate-200 bg-slate-100 text-slate-900 dark:text-slate-100">
{% for type, messages in app.flashes() %}
    {% for message in messages %}
        <twig:Alert type="{{ type }}">
            {{ message }}
        </twig:Alert>
    {% endfor %}

{% endfor %}

<div class=" container m-auto mt-6">
    {% block body %}
        <div class="planet planet-{{ planet.id }}">
            <h2><a href="{{ path('planet', { planetId: planet.id}) }}">{{ planet.name }}</a></h2>
            <div class="flex justify-end gap-4 mr-4">
                <div class="flex-initial ">Concrete: {{ planet.storage.concrete }}/{{ planet.maxStorage|round }} </div>
                <div class="flex-initial">Metal: {{ planet.storage.metals }}/{{ planet.maxStorage|round }}</div>
                <div class="flex-initial">Circuits: {{ planet.storage.circuits }}/{{ planet.maxStorage|round }} </div>
                <div class="flex-initial">Food: {{ planet.storage.food }}/{{ planet.maxStorage|round }}</div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
</div>
</body>
</html>
