{% props color = 'blue', size = 'sm', anchor = false %}

{% set button = cva({
    base: 'font-display uppercase focus:ring-4 font-medium text-center focus:outline-none text-white bg-gradient-to-r hover:bg-gradient-to-br rounded-sm',
    variants: {
        color: {
            blue: 'from-blue-500 via-blue-600 to-blue-700 focus:ring-blue-300 dark:focus:ring-blue-800',
            green: 'from-green-500 via-green-600 to-green-700 focus:ring-green-300 dark:focus:ring-green-800',
            red: 'from-red-500 via-red-600 to-red-700 focus:ring-red-300 dark:focus:ring-red-800',
        },
        size: {
            sm: 'text-sm px-4 py-2',
            md: 'dtext-base px-7 py-3.5',
            lg: 'text-ld px-10 py-5'
        }
    }
}) %}

{% if anchor %}
    <a
            {{ attributes }}
            class="{{ button.apply({ color, size }, attributes.render('class'))|tailwind_merge }}">
        {{ block('content') }}
    </a>
{% else %}
    <button
            {{ attributes }}
            class="{{ button.apply({ color, size }, attributes.render('class'))|tailwind_merge }}">
        {{ block('content') }}

    </button>
{% endif %}
