{% props color = 'primary', disabled = false, outline = false, size = 'sm', anchor = false %}

{% set button = cva({
    base: 'font-display uppercase focus:ring-4 font-medium focus:outline-none rounded-xs cursor-pointer',
    variants: {
        color: {
            primary: 'bg-primary focus:ring-primary/50 ',
            green: 'bg-green-500 focus:ring-green-300 dark:focus:ring-green-800',
            red: 'bg-red-500 focus:ring-red-300 dark:focus:ring-red-800',
            orange: 'bg-orange-500 focus:ring-orange-300 dark:focus:ring-orange-800'
        },
        size: {
            sm: 'text-sm px-4 py-2',
            md: 'text-base px-7 py-3.5',
            lg: 'text-ld px-10 py-5'
        },
        disabled: {
            false: null,
            true: ["opacity-50", "cursor-not-allowed", "focus:ring-0"]
        }
    },


}) %}


{% if anchor %}
    <a
            {{ attributes.without('class') }}
            class="{{ button.apply({ color, size, disabled }, attributes.render('class'))|tailwind_merge }}">
        {{ block('content') }}
    </a>
{% else %}
    <button
            {{ attributes.without('class') }}
            class="{{ button.apply({ color, size, disabled }, attributes.render('class'))|tailwind_merge }}">
        {{ block('content') }}

    </button>
{% endif %}
