{# @var view \App\Modules\Research\ViewModel\ResearchCenterViewModel #}

<div class="mt-4 ">
    <div class="bg-neutral-secondary text-neutral-onsecondary">
        <h2 class="px-2 sm:px-4 py-2 font-display text-2xl lg:text-3xl uppercase">Research Queue</h2>
    </div>

    <table class="bg-neutral-primary text-neutral-onsecondary w-full table-auto  border-l-0 md:border-separate md:border-spacing-y-2">
        <thead class="hidden sm:table-header-group text-left">
        <tr class="flex flex-col mb-2 sm:mb-4 sm:table-row font-display">
            {% set thClass = "sm:px-4 text-left" %}
            <th class="{{ thClass }}">Technology</th>
            <th class="{{ thClass }}">Duration</th>
            <th class="{{ thClass }}">ETA</th>
            <th class="{{ thClass }}">Cancel</th>
        </tr>
        </thead>
        <tbody class=" sm:divide-y-0 divide-y divide-slate-400">
        {% set tdClass = "sm:px-4" %}

        {% for key, queueJob in view.researchCenter.queuedJobs %}
            <tr class="even:bg-neutral-tertiary p-2 w-full flex flex-col sm:table-row ">
                <td class="font-display text-xl sm:text-base uppercase {{ tdClass }}">{{ queueJob.techName }}</td>
                <td class="{{ tdClass }}">
                    {% if key == 0 %}
                        {% include 'common/_build-time.html.twig' with {buildTime: queueJob.remainingTime,  } %}
                    {% else %}
                        {{ queueJob.duration|date('H:i:s') }}

                    {% endif %}
                </td>
                <td class="{{ tdClass }}">{{ queueJob.completedAt|date() }}</td>
                <td class="{{ tdClass }}">
                    <form method="POST" action="{{ path('research_center_cancel_research') }}">
                        <input type="hidden" name="planetId" value="{{ view.planet.id }}"/>
                        <twig:Button role="warning" type="submit" name="researchId"
                                     value="{{ queueJob.id }}">
                            {% trans %}research.cancel{% endtrans %}
                        </twig:Button>
                    </form>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>