{# @var view \App\Modules\Research\ViewModel\ResearchCenterViewModel #}
{% extends "planet/base.html.twig" %}

{% block planet_content %}
    {{ parent() }}
    <h1 class="font-display text-3xl lg:text-6xl uppercase text-darkneutral-onprimary">Research Center</h1>
    <p class="text-darkneutral-onprimary">In the Control Hub you can enqueue new buildings or upgrade existing one. The
        higher is the level of your Control
        Hub, the faster the constructions will build.</p>
    {% include 'planet/buildings/research_center/_research-queue.html.twig' %}
    <div class="mt-3 bg-neutral-primary">
        <div class="px-2 md:px-4 py-2 bg-neutral-secondary text-neutral-secondary">
            <h4 class="font-display uppercase text-3xl">Available Researches</h4>
        </div>
        <div class="mt-3 grid grid-cols-1 md:grid-cols-2 place-items-stretch lg:grid-cols-3 gap-1 md:gap-2">
            {% for techName, tech in view.researchCenter.possibleResearches %}
                <div class="p-6 bg-neutral-primary text-neutral-onprimary grainy">
                    <h5 class="mb-2 text-2xl font-semibold tracking-tight font-display">{{ tech.techName }}</h5>
                    <p class="mb-3 font-normal text-neutral-secondary">{{ tech.description }}</p>

                    <div class="text-neutral-secondary">
                        <p>{% include('common/_cost.html.twig') with { cost: tech.cost } %}</p>
                        <p>{{ tech.researchTime|date('H:i:s') }}</p>

                    </div>
                    {% if tech.isCostSatisfied %}
                        <form class="mt-2 " method="POST" action="{{ path('research_center_enqueue') }}">
                            <input type="hidden" name="planetId" value="{{ view.planet.id }}"/>
                            <twig:Button class="w-full" type="submit" name="techName" value="{{ techName }}">Research
                            </twig:Button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-3 bg-darkneutral-primary text-gray-300">
        <div class="px-2 md:px-4 py-2 bg-darkneutral-primary text-darkneutral-onprimary">
            <h4 class="font-display text-2xl">Locked Researches</h4>
        </div>
        {% set tdClass = "sm:px-4 text-left" %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 px-4 ">
            {% for techName, tech in view.researchCenter.techs %}
                {% if view.researchCenter.possibleResearches[techName] is not defined %}
                    <div class="bg-darkneutral-secondary py-4">
                        <div class="{{ tdClass }} font-display text-xl">{{ techName }}</div>
                        <div class="{{ tdClass }}">{{ tech.object.description }}</div>
                        <div class="{{ tdClass }}">Todo</div>

                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
    {#    <div class="grid grid-cols-1 md:grid-cols-2 place-items-stretch lg:grid-cols-4 gap-2"> #}
    {#        {% for techName, tech in view.researchCenter.techs %} #}

    {#        {% endfor %} #}
    {#    </div> #}
{% endblock %}